{% load socialaccount %}
<html>
<body>
<h1>Mikazza Login</h1>
{% if user.is_authenticated %}
  <p>Welcome, You are logged in as {{ user.email }}</p>
{% else %}
  <a href="{% provider_login_url 'okta' %}">Login With Okta</a>
{% endif %}
</body>
</html>